{% extends "layout.html.twig" %}

{% block content %}
    Welcome to your new Silex Application!

    {{ form(sql) }}

    <h1>Members</h1>
    {% if items is defined %}
    <ul>

            {% for key, item in items %}
                    <li>
                        {{ key }}
                    <ul>
                        {% for key, attr in item %}
                            <li>
                                {{ key }}: {{ attr }}
                            </li>
                        {% endfor %}
                    </ul>

                    </li>
            {% endfor %}
    </ul>
    {% endif %}



{% endblock %}
